@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

/* HERO SECTION */
.hero-section {
  background: linear-gradient(to right, #000000c4, #00000093), url('/images/hero-bg.jpg');
  /* height: 90vh; */
  background-size: cover;
}

/* GET STARTED SECTION */
.section-get-started {
  background: linear-gradient(to right, #000000da, #00000093), url('/images/save-image3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* KEYFRAMES FOR CLIENT SECTION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}